<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Satvik Restaurant Booking</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'satvik/css/styles.css' %}">
</head>
<body>
    <h1>Welcome to the Satvik Restaurant Booking System!</h1>
    <div class="container">
        <a href="{% url 'book_table' %}">Book a Table</a><br>
        <a href="{% url 'view_bookings' %}">View Your Reservations</a>
    </div>
    <script src="{% static 'satvik/js/scripts.js' %}"></script>
</body>
</html>
